extends ../layout
block script
    script(type='text/javascript', src="/javascripts/admin.js")
    script(type='text/javascript', src="/javascripts/bootstrap-paginator.min.js")
    script.
            $(document).ready(function(){
                var page_type = "#{type}";
               //$('.table tbody a.deleteUser').on('click',deleteBlog);
               var total = #{numberOfPages};
               if(total>0){
                   var current = #{current};
                   var numberOfPages = #{numberOfPages};
                   var options = {
                   bootstrapMajorVersion:3,
                        currentPage: current,
                        totalPages: total,
                        numberOfPages:numberOfPages,
                        pageUrl: function(type, page, current){
                            return "/admin/message/type/" + page_type +"/?page=" + page;
                        }
                    };
                    $('#paging-tool').bootstrapPaginator(options);
                }
            });
block content

    .nav
        li.list-inline.pull-right
                a.btn.btn-default(href = "javascript:window.location='/admin/message/index/'") 
                    i.glyphicon.glyphicon-refresh
                    |  Refresh
        
        li.list-inline.pull-left
            strong
                i.glyphicon.glyphicon-envelope
                |   Messages

    ui.nav.nav-tabs
        li
            a(href="/admin/message/index") All
        li
            a(href="/admin/message/type/text/") Text
        li
            a(href="/admin/message/type/image/") Image
        li.active
            a(href="/admin/message/type/voice/") Voice
        li
            a(href="/admin/message/type/video/") Video
        li
            a(href="/admin/message/type/location/") Location
        li
            a(href="/admin/message/type/link/") Link

    table.table.table-striped.col-md-10
        tr
            th ToUser
            th FromUser
            th MsgType
            th Created At
            th MediaId
            th Format
        - each item in docs
            tr
                td 
                    if item.doc 
                        a(href="#" + item.doc._id)
                            i.glyphicon.glyphicon-eye-open
                            if item.doc.nickname
                                |  #{item.doc.nickname}
                            else
                                |  #{item.doc._id}
                    else
                        | #{ item.value.message.FromUserName}
                td= item.value.message.MsgType
                td= item.value.message.CreateTime
                td= item.value.message.MediaId
                td= item.value.message.Format
                   
                    
    ul(id="paging-tool")